name: Docker

"on":
  pull_request:
  push:
    branches:
      - main
    tags:
      - "*.*.*"

jobs:
  # https://github.com/edencehealth/workflows
  image:
    uses: edencehealth/workflows/.github/workflows/dockerimage.yml@v1
    with:
      container_name: ohdsi-achilles
      push_readme: README.md
      push: true
    secrets: inherit
